#portfolio {
    background: rgba(0, 0, 0, 0.36);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    border: 1px solid rgba(0, 0, 0, 0.44);
    padding: 10px;
}

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    padding: 20px;
}

.portfolio__item {
    background: var(--color-bg-variant);
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    height: 580px; /* Set the height of each card to 100% */
    overflow: hidden; 
    padding: 5px;
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    overflow: hidden;
    height: 140px; /* Set a fixed height for the image */
    margin: 0.5rem;

}

.portfolio__item h3 {
    margin: 1rem 0; 
    text-align: center; 
    font-weight: 400;
    text-decoration: underline;
    text-decoration-thickness: 1px; 
}

.portfolio__item p {
    margin: 0 1rem 1.2rem 1rem; /* Adjust margins for better spacing */
    font-size: 0.9rem;
    text-align: center; /* Center the text */
}

.portfolio__item-cta {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center the buttons vertically */
    justify-content: center;
    margin-top: auto; /* Push the buttons to the bottom */
    margin-bottom: 15px;
}
.portfolio__item-cta .btn {
    margin:4px; /* Add margin between buttons */
}

@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
